.msg {
	height: 50px;
	border-width: 1px;  /* 設定div邊緣的寬度 */
	border-style: solid;  /* 設定div邊緣的樣式 */
}
.btn1 {
	width: 100px;
	height: 30px;
	background-color:#FC6;
	color: white;            /* 設定div裡文字的顏色 */
	cursor: pointer;      /* 設定滑鼠在此div上面時顯示的游標種類 */
}
.btn2 {
	width: 100px;
	height: 30px;
	background-color:#FF9;
	color: white;
	cursor: pointer;
}
.test_img {
	position:absolute; 
	left: 0;	/*如果是0，可以不用加px*/
	top: 150px;   
}
